/**Contenedor del mapa**/
.container__mapa{
    margin: 2rem auto;
    width: 900px;
}

/**Contenedor de los proximos eventos**/
.container__noticias{
    width: 1150px;
    margin: auto;

}

.noticia{
    border: 2px solid black;
    width: 300px;
    height: 380px;
    margin: 2rem 2rem;
    display: inline-block;
    vertical-align: middle;
    
}

/**Contenedor de la imagen de los eventos**/
.container__noticia-img{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 1rem;
    vertical-align: middle;
    filter: grayscale(.5);
}

.container__noticia-img:hover{
    width: 210px;
    height: 210px;
    box-shadow: 10px 10px 33px 0px black;
    filter: none;
}

.title__noticia{
    display: inline-block;
    width: 250px;
    padding: 1rem;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Rubik Bold';
    font-size: 1.2rem;
    vertical-align: middle;
}

.subtitle__noticia{
    display: block;
    width: 250px;
    margin: auto;
    text-align: justify;
    font-variant: small-caps;
    font-family: 'Rubik Light';

}